@mixin column_center {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
}
@mixin row_center {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}