%font-one {
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
}
%font-two {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
%big-size {
  font-size: 3.2rem;
}
%medium-size {
  font-size: 1.6rem;
}
%small-size {
  font-size: 1.2rem;
  letter-spacing: 1px;
}
