@use "_mixins.scss";
@use "_placeholders.scss";
@use "_typo.scss";
@use "_barrets.scss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  & .idx__container--main {
    @include mixins.column_center();
    height: auto;
    width: 100%;
    & .idx__container--A {
      @include mixins.column_center();
      height: auto;
      width: 100%;
      background-color: #fff;
      & .idx__logo {
        height: auto;
        width: 25vw;
        animation: slide-in 1.5s ease-out forwards;
      }
      & .idx__title {
        @extend %font-two;
        @extend %big-size;
        letter-spacing: 3px;
        font-weight: 700;
        color: #fff;
        text-shadow: 0px 0px 5px #000;
        animation: slide-in 1.5s ease-out forwards;
      }
    }
    & .idx__container--B {
      @include mixins.column_center();
      height: 25vh;
      width: 100%;
      background-color: #000;
      & .idx__btn {
        margin: 0;
        padding: 0;
        height: 4vh;
        width: 8vw;
        background: none;
        border-radius: 15px;
        border-color: #fff;
        border-width: 1px;
        &:hover {
          transition: 0.3s ease;
          border-radius: 0;
          filter: drop-shadow(0px 0px 2px #fff);
        }
        & .idx__btn--enter {
          @extend %font-one;
          @extend %medium-size;
          text-decoration: none;
          color: #fff;
          letter-spacing: 2px;
        }
      }
    }
  }

  & .navbar {
    @include mixins.column_center();
    height: auto;
    width: 100%;
    background-color: #000;
    overflow: hidden;
    & .nav__banner {
      @include mixins.row_center();
      height: auto;
      width: 100%;
      & .nav__logo {
        height: auto;
        width: 18vw;
      }
      & .nav__title {
        @extend %font-two;
        @extend %big-size;
        letter-spacing: 3px;
        font-weight: 700;
        color: #fff;
        text-shadow: 0px 0px 5px #000;
      }
    }
    & .log__sub--ctnr {
      @include mixins.column_center();
      height: auto;
      max-width: 25%;
      & .log__title {
        margin: 8px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        @extend %font-one;
        @extend %medium-size;
        letter-spacing: 1px;
        color: #fff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
      & .login__form {
        margin-top: 0;
        opacity: 0;
        padding: 5px;
        height: auto;
        width: 100%;
        border: 1px solid #fff;
        border-radius: 5px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-evenly;
        &.view_content {
          opacity: 1;
        }
        & hr {
          height: 1px;
          width: 5vw;
          border: none;
          background-color: #fff;
        }
        & input[type="text"],
        input[type="password"] {
          @extend %font-one;
          height: 3vh;
          width: auto;
          border: 1px solid #fff;
          background: none;
          color: #fff;
          border-radius: 5px;
        }
        & input[type="submit"] {
          @extend %font-one;
          height: 3vh;
          width: auto;
          border: 1px solid #fff;
          background: none;
          color: #fff;
          border-radius: 5px;
          letter-spacing: 1px;
          &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 8px rgb(252, 48, 48);
          }
        }
        & .login__pin--container {
          @include mixins.row_wrap();
          min-height: 10vh;
          width: 7vw;
          & .log__pin--btn {
            height: 2vh;
            width: 2vw;
            background: none;
            color: #fff;
            border: 1px solid #fff;
            background-color: #000;
            border-radius: 5px;
          }
        }
      }
    }

    & .nav__item--container {
      @include mixins.row_center();
      margin: 0;
      padding: 0;
      min-height: 20vh;
      width: 100%;
      & .nav__item {
        @include mixins.column_center();
        margin: 0;
        padding: 0;
        height: auto;
        width: 80%;
        list-style-type: none;
        & a {
          @extend %font-one;
          @extend %small-size;
          color: #fff;
          letter-spacing: 1px;
          text-decoration: none;
        }
      }
    }
  }
  & .main__container {
    @include mixins.column_center();
    height: auto;
    width: 100%;
    & .main__txt--intro {
      @extend %font-one;
      @extend %small-size;
    }
  }
  & .register__ctnr {
    @include mixins.column_center();
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid #000;
    & .sign_up_form {
      @include mixins.column_center();
      @extend %font-one;
      @extend %small-size;
      min-height: 25vh;
      width: 100%;
      padding: 0;
      margin: 0;
      & input[type="text"],
      input[type="password"],
      input[type="email"] {
        @extend %font-one;
        height: 3vh;
        width: auto;
        border: none;
        background: none;
        color: #fff;
        border-radius: 5px;
        &:focus {
          border-bottom: 1px solid #000;
        }
      }
      & hr {
        height: 1px;
        width: 5vw;
        border: none;
        background-color: #000;
      }
    }
  }
}
