@use "_mixins.scss";
@use "_placeholders.scss";
@use "_typo.scss";
@use "_barrets.scss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  header {
    height: auto;
    width: 100%;
    & .header__register--link {
      height: auto;
      max-width: 15%;
      margin: auto;
      text-align: center;
      & a {
        @extend %font-one;
        @extend %medium-size;
        text-decoration: none;
        letter-spacing: 1px;
        color: #000;
        &:hover {
          transition: 0.2s ease;
          letter-spacing: 5px;
        }
      }
    }
  }
  & .idx__container--main {
    @include mixins.column_center();
    height: auto;
    width: 100%;
    overflow: hidden;
    & .idx__sub--ctnr {
      margin: 0;
      padding: 0;
      height: 100vh;
      width: 100%;
      & .idx__vid {
        margin-top: -100px;
        height: auto;
        width: auto;
      }
    }
    & .idx__container--A {
      top: 0;
      position: absolute;
      background-size: 35%;
      @include mixins.column_center();
      height: 70vh;
      width: 100%;
      // background: url("../images/introPapper.png") no-repeat 99% 50%;
      // background-size: 35%;
      & .sub__container--A {
        margin: 0;
        padding: 0;
        top: 0;
        position: relative;
        height: auto;
        width: 100%;
        @include mixins.row_center();
        & .papper1 {
          margin: 0;
          height: auto;
          width: 35vw;
          transform: rotate(90deg);
          filter: drop-shadow(0px 0px 5px #fff);
        }
        & .idx__logo {
          height: auto;
          width: 25vw;
          animation: slide-in 1.8s ease-out forwards;
          mix-blend-mode: overlay;
        }
        & .papper2 {
          margin: 0;
          height: auto;
          width: 35vw;
          filter: drop-shadow(0px 0px 5px #fff);
        }
      }

      & .idx__title {
        @extend %font-two;
        @extend %big-size;
        opacity: 0;
        letter-spacing: 3px;
        font-weight: 700;
        color: #fff;
        text-shadow: 0px 0px 5px #000;
        animation: slide-in 1.8s ease-out 1s forwards;
      }
    }
    & .idx__container--B {
      top: 70%;
      position: absolute;
      @include mixins.column_center();
      height: 30vh;
      width: 100%;
      border-top: 1px solid #fff;
      background-color: #000;
      & .idx__btn {
        margin: 0;
        padding: 0;
        height: 4vh;
        width: 8vw;
        background: none;
        border-radius: 15px;
        border-color: #fff;
        border-width: 1px;
        &:hover {
          transition: 0.3s ease;
          border-radius: 0;
          filter: drop-shadow(0px 0px 2px #fff);
        }
        & .idx__btn--enter {
          @extend %font-one;
          @extend %medium-size;
          text-decoration: none;
          color: #fff;
          letter-spacing: 2px;
        }
      }
    }
  }

  & .navbar {
    padding: 0;
    @include mixins.column_center();
    height: auto;
    width: 100%;
    background-size: 100%;
    background-color: #000;
    overflow: hidden;
    & .papper3 {
      margin: 0;
      padding: 0;
      height: 40vh;
      width: auto;
      transform: rotate(45deg) translate(-400px, 350px);
      filter: drop-shadow(0px 0px 5px #fff);
    }
    & .nav__banner {
      top: 0;
      position: absolute;
      @include mixins.row_center();
      height: auto;
      width: 100%;
      & .nav__logo {
        height: auto;
        width: 18vw;
      }
      & .nav__title {
        @extend %font-two;
        @extend %big-size;
        letter-spacing: 3px;
        font-weight: 700;
        color: #fff;
        text-shadow: 0px 0px 5px #000;
      }
    }
    & .log__sub--ctnr {
      @include mixins.column_center();
      height: auto;
      max-width: 25%;
      & .log__title {
        margin: 8px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        @extend %font-one;
        @extend %medium-size;
        letter-spacing: 1px;
        color: #fff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
      & .login__form {
        margin-top: 0;
        opacity: 0;
        padding: 5px;
        height: auto;
        width: 100%;
        border: 1px solid #fff;
        border-radius: 5px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-evenly;
        &.view_content {
          opacity: 1;
        }
        & hr {
          height: 1px;
          width: 5vw;
          border: none;
          background-color: #fff;
        }
        & input[type="text"],
        input[type="password"] {
          @extend %font-one;
          height: 3vh;
          width: auto;
          border: 1px solid #fff;
          background: none;
          color: #fff;
          border-radius: 5px;
        }
        & input[type="submit"] {
          @extend %font-one;
          height: 3vh;
          width: auto;
          border: 1px solid #fff;
          background: none;
          color: #fff;
          border-radius: 5px;
          letter-spacing: 1px;
          &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 8px rgb(252, 48, 48);
          }
        }
        & .login__pin--container {
          @include mixins.row_wrap();
          min-height: 10vh;
          width: 7vw;
          & .log__pin--btn {
            height: 2vh;
            width: 2vw;
            background: none;
            color: #fff;
            border: 1px solid #fff;
            background-color: #000;
            border-radius: 5px;
          }
        }
      }
    }
    & .user__option--ctnr {
      animation: slide-in 1.8s ease-out forwards;
      position: fixed;
      border-radius: 15px;
      top: 2%;
      left: 89%;
      padding: 0;
      @include mixins.column_center();
      min-height: 25vh;
      min-width: 10vw;
      background: rgba(0, 0, 0, 0.906) url("../images/redcadre2.png") no-repeat
        50% 50%;
      background-size: cover;
      & .user__name--item {
        margin-top: 0;
        @include mixins.row_center();
        @extend %font-one;
        @extend %small-size;
        color: #fff;
        text-decoration: underline;
        letter-spacing: 1px;
        & .user__small--light {
          margin-left: 5px;
          height: 8px;
          width: 8px;
          border-radius: 50%;
          background-color: rgb(41, 207, 16);
          filter: drop-shadow(0px 0px 5px rgb(41, 207, 16));
        }
      }
      & .option__sub--ctnr {
        margin-top: 0;
        padding: 0;
        height: auto;
        width: auto;
        text-align: left;
        & .user__option--item {
          margin: 0;
          list-style-type: none;
          & i {
            color: #fff;
          }
          & a {
            @extend %font-one;
            @extend %small-size;
            letter-spacing: 1px;
            color: #fff;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    & .nav__item--container {
      @include mixins.row_center();
      margin: 0;
      padding: 0;
      min-height: 20vh;
      width: 100%;
      & .nav__item {
        @include mixins.column_center();
        margin: 0;
        padding: 0;
        height: auto;
        width: 80%;
        list-style-type: none;
        & a {
          @extend %font-one;
          @extend %small-size;
          color: #fff;
          letter-spacing: 1px;
          text-decoration: none;
        }
      }
    }
  }
  & .main__container {
    @include mixins.column_center();
    height: auto;
    width: 100%;
    & .main__txt--intro {
      @extend %font-one;
      @extend %small-size;
    }
    & hr {
      height: 1px;
      width: 50%;
      border: none;
      background-color: #000;
    }
    & .mySwiper {
      width: 40vw;
      height: 35vh;
      background: url("../images/redcadre2.png") no-repeat 50% 50%;
      background-size: 80%;
      filter: drop-shadow(0px 0px 5px #000);
      & swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        & swiper-slide img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  & .register__ctnr {
    margin: auto;
    @include mixins.column_center();
    min-height: 35vh;
    width: 70%;
    padding: 0;
    & .pin__view--ctnr {
      @include mixins.column_center();
      top: 30%;
      padding: 5px;
      position: absolute;
      min-height: 25vh;
      max-width: 25vw;
      background-color: rgba(0, 0, 0, 0.837);
      border: 1px solid #fff;
      box-shadow: 0px 0px 5px #000;
      border-radius: 15px;
      & .timer__view {
        @extend %font-two;
        @extend %small-size;
        color: red;
      }
      & .sign__code--pin {
        @extend %font-one;
        @extend %small-size;
        letter-spacing: 1px;
        color: #fff;
        text-align: center;
        width: 15ch;
      }
      & .pin__notif {
        @extend %font-one;
        color: red;
        text-align: center;
      }
      & .pin__close--btn {
        height: 3vh;
        width: 5vw;
        @extend %font-one;
        @extend %small-size;
        color: #000;
        border: none;
        background-color: #fff;
        border-radius: 10px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    & .sign_up_form {
      @include mixins.column_center();
      @extend %font-one;
      @extend %small-size;
      min-height: 35vh;
      width: 70%;
      padding: 0;
      margin: 0;
      & .register__sub--ctnr {
        height: auto;
        width: 100%;
        @include mixins.row_center();
        & .country__ctnr {
          @include mixins.column_center();
          height: auto;
          width: 100%;
        }
        & .role__ctnr {
          @include mixins.row_wrap();
          height: auto;
          width: 100%;
          & .role__sub--ctnr {
            @include mixins.column_center();
            height: auto;
            width: auto;
            & .logo__role {
              height: 35px;
              width: auto;
            }
          }
        }
      }
      & input[type="text"],
      input[type="password"],
      input[type="email"] {
        @extend %font-one;
        height: 4vh;
        width: auto;
        border: none;
        background: none;
        color: #000;
        border-radius: 5px;
        &:focus {
          border-bottom: 1px solid #000;
        }
      }
      & hr {
        height: 5px;
        width: 25vw;
        border: none;
        background-color: #000;
      }
      & input[type="submit"] {
        letter-spacing: 2px;
        padding: 3px;
        height: 8vh;
        width: 14vw;
        background: url("../images/redcadre2.png") no-repeat 50% 50%;
        background-size: 47%;
        border: none;
        filter: drop-shadow(0px 0px 3px #000);
        @extend %font-one;
        @extend %small-size;
        &:hover {
          transition: 0.4s ease;
          letter-spacing: 4px;
          background-size: 60%;
          color: red;
          text-decoration: underline;
          cursor: pointer;
          border-radius: 15px;
        }
      }
    }
  }
  & .user__setting--ctnr {
    @include mixins.row_center();
    min-height: 50vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    & .setting_separate {
      height: 35vh;
      width: 2px;
      background-color: #000;
      border: none;
      margin: 15px;
    }
    & .setting__sub--ctnr {
      @include mixins.column_center();
      height: 45vh;
      width: 100%;
      border: 1px solid #fff;
      overflow: hidden;
      border-radius: 15px;
      padding: 5px;
      background-color: #000;
      & .setting__title{
        @extend %font-one;
        @extend %small-size;
        color: #fff;
        text-decoration: underline;
      }
      & label{
        @extend %font-one;
        @extend %small-size;
        color: #fff; 
        text-decoration: underline;
      }
      & .btn_avatar{
        @extend %font-one;
        @extend %small-size;
        border: 1px solid #fff;
        background: none;
        color: #fff;
        &:hover{
          transition: 0.2s ease-in-out;
          border-radius: 5px;
          box-shadow: 0px 0px 5px #fff;
          cursor: pointer;
        }
      }

      & .user__setting--avatar-ctnr {
        margin: auto;
        height: 25vh;
        width: 18vw;
        border-radius: 15px;
        padding: 0;
        border: none;
        background: rgba(0, 0, 0, 0.792) url("../images/redcadre2.png")
          no-repeat 50% 50%;
        background-size: cover;
        & .avatar__choice--ctnr {
          margin: auto;
          height: 17vh;
          width: 15vw;
          padding: 10px;
          display: grid;
          grid-auto-columns: 1fr;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          gap: 5px 5px;
          grid-template-areas:
            "A B"
            "C D";
          .A {
            grid-area: A;
            text-align: center;
            & img {
              height: 8vh;
              width: auto;
              &:hover{
                filter: drop-shadow(0px 0px 5px #fff);
                cursor: pointer;
              }
            }
          }
          .B {
            grid-area: B;
            text-align: center;
            & img {
              height: 10vh;
              width: auto;
              &:hover{
                filter: drop-shadow(0px 0px 5px #fff);
                cursor: pointer;
              }
            }
          }
          .C {
            grid-area: C;
            text-align: center;
            & img {
              height: 10vh;
              width: auto;
              &:hover{
                filter: drop-shadow(0px 0px 5px #fff);
                cursor: pointer;
              }
            }
          }
          .D {
            grid-area: D;
            text-align: center;
            & img {
              height: 10vh;
              width: auto;
              &:hover{
                filter: drop-shadow(0px 0px 5px #fff);
                cursor: pointer;
              }
            }
          }
        }
      }

      & .user__setting--title {
        @extend %font-one;
        @extend %small-size;
        color: #fff;
        letter-spacing: 1px;
        text-decoration: underline;
      }
      & .setting__avatar {
        @include mixins.column_center();
        height: 15vh;
        width: 15vw;
        border-radius: 10px;
        & img {
          margin: auto;
          height: 80px;
          width: auto;
          opacity: 0.7;
        }
      }
      & .actual__user--data {
        @include mixins.column_center();
        height: auto;
        width: 100%;
        & .user__title--ctnr {
          height: auto;
          width: 100%;
          text-align: center;
          & h4,
          h5 {
            @extend %font-one;
            @extend %small-size;
            color: #fff;
          }
        }
        & .actual__user--info {
          @include mixins.column_center();
          height: 20vh;
          width: 100%;
          & .actual__user--item {
            height: auto;
            width: 100%;
            text-align: left;
            list-style-type: none;
            @extend %font-one;
            @extend %small-size;
            color: #fff;
          }
        }
        ///////AVATAR/////
      }
      & form {
        @include mixins.column_center();
        height: 45vh;
        width: 100%;
        & input[type="submit"]{
          @extend %font-one;
          @extend %small-size;
          color: #fff;
          background-color: #000;
          border: 1px solid #fff;
          &:hover{
            transition: 0.2s ease-in-out;
            border-radius: 5px;
            box-shadow: 0px 0px 5px #fff;
            cursor: pointer;
          }
        }
      }
      & .setting__role--ctnr {
        @include mixins.row_center();
        height: auto;
        width: 90%;
        background-color: #fff;
        overflow: hidden;
        border-radius: 10px;
        & .role__sub--ctnr {
          @include mixins.column_center();
          height: 10vh;
          width: 100%;
          & label {
            @include mixins.column_center();
            @extend %font-one;
            @extend %small-size;
            color: #000;
            img {
              height: 25px;
              width: auto;
            }
          }
        }
      }
    }
  }
  footer {
    min-height: 15vh;
    width: 100%;
    bottom: 0;
    position: relative;
    @include mixins.row_center_fs();
    background-color: #000;
    & .footer__container {
      @include mixins.column_center();
      height: auto;
      width: 10vw;
      @extend %font-one;
      color: #fff;
    }
  }
}
