@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Press+Start+2P&display=swap");
.alpha__section .swtor__choice .main__swtor--subtitle a, .alpha__section .wrhmr__choice .main__wrhmr--subtitle a {
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0px 0px 5px #000;
}

.alpha__section .swtor__choice, .alpha__section .swtor__choice .main__swtor--subtitle, .alpha__section .wrhmr__choice .main__wrhmr--subtitle {
  height: 50vh;
  width: 100%;
}

.idx__header .idx__header--title_container .Alpha__title {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.alpha__section .swtor__choice .main__swtor--subtitle a, .alpha__section .wrhmr__choice .main__wrhmr--subtitle a {
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.idx__header .idx__header--title_container .Alpha__title {
  color: #fff;
  font-size: 4.5rem;
  text-shadow: 0px 0px 5px #000;
}

@keyframes title-entry-anim {
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.idx__header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 100%;
}
.idx__header .idx__header--vid_container {
  padding: 0;
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.idx__header .idx__header--vid_container .idx__header--vid_subctnr-A {
  height: auto;
  width: 50%;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.idx__header .idx__header--vid_container .idx__header--vid_subctnr-A .game__vid {
  height: auto;
  width: 100%;
}
.idx__header .idx__header--vid_container .idx__header--vid_subctnr-A .black__papper-A {
  position: absolute;
  height: 56vh;
  width: 50%;
  transform: rotate(180deg);
}
.idx__header .idx__header--vid_container .idx__header--vid_subctnr-B {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 50%;
  overflow: hidden;
}
.idx__header .idx__header--vid_container .idx__header--vid_subctnr-B .game__vid {
  height: auto;
  width: 100%;
}
.idx__header .idx__header--vid_container .idx__header--vid_subctnr-B .black__papper-B {
  position: absolute;
  height: 56vh;
  width: 50%;
}
.idx__header .idx__header--title_container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  top: 0;
  height: auto;
  width: 100%;
  position: absolute;
}
.idx__header .idx__header--title_container .logo__banner {
  height: 45vh;
  width: auto;
  opacity: 0;
  transform: translateZ(50px);
  animation: title-entry-anim 1s ease-out 0.2s forwards;
}
.idx__header .idx__header--title_container .Alpha__title {
  opacity: 0;
  transform: translateZ(50px);
  animation: title-entry-anim 1s ease-out 0.2s forwards;
}

.alpha__section {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.alpha__section .swtor__choice {
  height: auto;
  width: 100%;
  background: url("../images/swtor.webp") no-repeat 50% 50%;
}
.alpha__section .swtor__choice .main__swtor--subtitle {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.alpha__section .swtor__choice .main__swtor--subtitle a:hover {
  text-decoration: underline;
  transition: 0.6s ease-in-out;
  border-width: 100%;
}
.alpha__section .wrhmr__choice {
  height: auto;
  width: 100%;
  background: url("../images/wrhmr3.webp") no-repeat 50% 50%;
}
.alpha__section .wrhmr__choice .main__wrhmr--subtitle {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.alpha__section .wrhmr__choice .main__wrhmr--subtitle a:hover {
  text-decoration: underline;
  transition: 0.6s ease-in-out;
  border-width: 100%;
}

/*# sourceMappingURL=global.css.map */
