@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Press+Start+2P&display=swap");
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateZ(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
body .idx__container--main .idx__container--B .idx__btn .idx__btn--enter, body .navbar .log__sub--ctnr .log__title, body .navbar .log__sub--ctnr .login__form input[type=text],
body .navbar .log__sub--ctnr .login__form input[type=password], body .navbar .log__sub--ctnr .login__form input[type=submit], body .navbar .nav__item--container .nav__item a, body .main__container .main__txt--intro, body .register__ctnr .sign_up_form, body .register__ctnr .sign_up_form input[type=text],
body .register__ctnr .sign_up_form input[type=password],
body .register__ctnr .sign_up_form input[type=email] {
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body .idx__container--main .idx__container--A .idx__title, body .navbar .nav__banner .nav__title {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

body .idx__container--main .idx__container--A .idx__title, body .navbar .nav__banner .nav__title {
  font-size: 3.2rem;
}

body .idx__container--main .idx__container--B .idx__btn .idx__btn--enter, body .navbar .log__sub--ctnr .log__title {
  font-size: 1.6rem;
}

body .navbar .nav__item--container .nav__item a, body .main__container .main__txt--intro, body .register__ctnr .sign_up_form {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.top__angle--A, .top__angle--B, .top__angle--C {
  opacity: 0;
  height: 2vh;
  width: 5%;
  border-style: solid;
  border-color: #fff;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 0;
  border-left-width: 0;
}
.top_nav_angle--A, .top_nav_angle--B {
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 2vh;
  width: 25%;
  border-style: solid;
  border-color: #fff;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 0;
  border-left-width: 0;
}
.top__angle--A {
  margin-left: 10vw;
}
.top__angle--B {
  margin-left: 8vw;
}
.top__angle--C {
  margin-left: 6vw;
}
.top_nav_angle--A {
  margin-left: 3vw;
}
.top_nav_angle--B {
  margin-left: 1vw;
}

.bottom__angle--A, .bottom__angle--B, .bottom__angle--C {
  opacity: 0;
  height: 2vh;
  width: 5%;
  border-style: solid;
  border-color: #fff;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-width: 0;
  border-right-width: 0;
}
.bottom_nav_angle--A, .bottom_nav_angle--B {
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 2vh;
  width: 25%;
  border-style: solid;
  border-color: #fff;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-width: 0;
  border-right-width: 0;
}
.bottom__angle--A {
  margin-right: 10vw;
}
.bottom__angle--B {
  margin-right: 8vw;
}
.bottom__angle--C {
  margin-right: 6vw;
}
.bottom_nav_angle--A {
  margin-right: 3vw;
}
.bottom_nav_angle--B {
  margin-right: 1vw;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body .idx__container--main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  width: 100%;
}
body .idx__container--main .idx__container--A {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  width: 100%;
  background-color: #fff;
}
body .idx__container--main .idx__container--A .idx__logo {
  height: auto;
  width: 25vw;
  animation: slide-in 1.5s ease-out forwards;
}
body .idx__container--main .idx__container--A .idx__title {
  letter-spacing: 3px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0px 0px 5px #000;
  animation: slide-in 1.5s ease-out forwards;
}
body .idx__container--main .idx__container--B {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: 25vh;
  width: 100%;
  background-color: #000;
}
body .idx__container--main .idx__container--B .idx__btn {
  margin: 0;
  padding: 0;
  height: 4vh;
  width: 8vw;
  background: none;
  border-radius: 15px;
  border-color: #fff;
  border-width: 1px;
}
body .idx__container--main .idx__container--B .idx__btn:hover {
  transition: 0.3s ease;
  border-radius: 0;
  filter: drop-shadow(0px 0px 2px #fff);
}
body .idx__container--main .idx__container--B .idx__btn .idx__btn--enter {
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
}
body .navbar {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  width: 100%;
  background-color: #000;
  overflow: hidden;
}
body .navbar .nav__banner {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  height: auto;
  width: 100%;
}
body .navbar .nav__banner .nav__logo {
  height: auto;
  width: 18vw;
}
body .navbar .nav__banner .nav__title {
  letter-spacing: 3px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0px 0px 5px #000;
}
body .navbar .log__sub--ctnr {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  max-width: 25%;
}
body .navbar .log__sub--ctnr .log__title {
  margin: 8px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
}
body .navbar .log__sub--ctnr .log__title:hover {
  text-decoration: underline;
  cursor: pointer;
}
body .navbar .log__sub--ctnr .login__form {
  margin-top: 0;
  opacity: 0;
  padding: 5px;
  height: auto;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}
body .navbar .log__sub--ctnr .login__form.view_content {
  opacity: 1;
}
body .navbar .log__sub--ctnr .login__form hr {
  height: 1px;
  width: 5vw;
  border: none;
  background-color: #fff;
}
body .navbar .log__sub--ctnr .login__form input[type=text],
body .navbar .log__sub--ctnr .login__form input[type=password] {
  height: 3vh;
  width: auto;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  border-radius: 5px;
}
body .navbar .log__sub--ctnr .login__form input[type=submit] {
  height: 3vh;
  width: auto;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  border-radius: 5px;
  letter-spacing: 1px;
}
body .navbar .log__sub--ctnr .login__form input[type=submit]:hover {
  cursor: pointer;
  box-shadow: 0px 0px 8px rgb(252, 48, 48);
}
body .navbar .log__sub--ctnr .login__form .login__pin--container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  min-height: 10vh;
  width: 7vw;
}
body .navbar .log__sub--ctnr .login__form .login__pin--container .log__pin--btn {
  height: 2vh;
  width: 2vw;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  background-color: #000;
  border-radius: 5px;
}
body .navbar .nav__item--container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  min-height: 20vh;
  width: 100%;
}
body .navbar .nav__item--container .nav__item {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  height: auto;
  width: 80%;
  list-style-type: none;
}
body .navbar .nav__item--container .nav__item a {
  color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
}
body .main__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  width: 100%;
}
body .register__ctnr {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid #000;
}
body .register__ctnr .sign_up_form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  min-height: 25vh;
  width: 100%;
  padding: 0;
  margin: 0;
}
body .register__ctnr .sign_up_form input[type=text],
body .register__ctnr .sign_up_form input[type=password],
body .register__ctnr .sign_up_form input[type=email] {
  height: 3vh;
  width: auto;
  border: none;
  background: none;
  color: #fff;
  border-radius: 5px;
}
body .register__ctnr .sign_up_form input[type=text]:focus,
body .register__ctnr .sign_up_form input[type=password]:focus,
body .register__ctnr .sign_up_form input[type=email]:focus {
  border-bottom: 1px solid #000;
}
body .register__ctnr .sign_up_form hr {
  height: 1px;
  width: 5vw;
  border: none;
  background-color: #000;
}

/*# sourceMappingURL=main.css.map */
