@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Press+Start+2P&display=swap");
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
body header .header__register--link a, body .idx__container--main .idx__container--B .idx__btn .idx__btn--enter, body .navbar .log__sub--ctnr .log__title, body .navbar .log__sub--ctnr .login__form input[type=text],
body .navbar .log__sub--ctnr .login__form input[type=password], body .navbar .log__sub--ctnr .login__form input[type=submit], body .navbar .user__option--ctnr .user__name--item, body .navbar .user__option--ctnr .option__sub--ctnr .user__option--item a, body .navbar .nav__item--container .nav__item a, body .main__container .main__txt--intro, body .register__ctnr .pin__view--ctnr .sign__code--pin, body .register__ctnr .pin__view--ctnr .pin__notif, body .register__ctnr .pin__view--ctnr .pin__close--btn, body .register__ctnr .sign_up_form, body .register__ctnr .sign_up_form input[type=text],
body .register__ctnr .sign_up_form input[type=password],
body .register__ctnr .sign_up_form input[type=email], body .register__ctnr .sign_up_form input[type=submit], body .user__setting--ctnr .setting__sub--ctnr .setting__title, body .user__setting--ctnr .setting__sub--ctnr label, body .user__setting--ctnr .setting__sub--ctnr .btn_avatar, body .user__setting--ctnr .setting__sub--ctnr .user__setting--title, body .user__setting--ctnr .setting__sub--ctnr .actual__user--data .user__title--ctnr h4,
body .user__setting--ctnr .setting__sub--ctnr .actual__user--data .user__title--ctnr h5, body .user__setting--ctnr .setting__sub--ctnr .actual__user--data .actual__user--info .actual__user--item, body .user__setting--ctnr .setting__sub--ctnr form input[type=submit], body .user__setting--ctnr .setting__sub--ctnr .setting__role--ctnr .role__sub--ctnr label, body footer .footer__container {
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body .idx__container--main .idx__container--A .idx__title, body .navbar .nav__banner .nav__title, body .register__ctnr .pin__view--ctnr .timer__view {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

body .idx__container--main .idx__container--A .idx__title, body .navbar .nav__banner .nav__title {
  font-size: 3.2rem;
}

body header .header__register--link a, body .idx__container--main .idx__container--B .idx__btn .idx__btn--enter, body .navbar .log__sub--ctnr .log__title {
  font-size: 1.6rem;
}

body .navbar .user__option--ctnr .user__name--item, body .navbar .user__option--ctnr .option__sub--ctnr .user__option--item a, body .navbar .nav__item--container .nav__item a, body .main__container .main__txt--intro, body .register__ctnr .pin__view--ctnr .timer__view, body .register__ctnr .pin__view--ctnr .sign__code--pin, body .register__ctnr .pin__view--ctnr .pin__close--btn, body .register__ctnr .sign_up_form, body .register__ctnr .sign_up_form input[type=submit], body .user__setting--ctnr .setting__sub--ctnr .setting__title, body .user__setting--ctnr .setting__sub--ctnr label, body .user__setting--ctnr .setting__sub--ctnr .btn_avatar, body .user__setting--ctnr .setting__sub--ctnr .user__setting--title, body .user__setting--ctnr .setting__sub--ctnr .actual__user--data .user__title--ctnr h4,
body .user__setting--ctnr .setting__sub--ctnr .actual__user--data .user__title--ctnr h5, body .user__setting--ctnr .setting__sub--ctnr .actual__user--data .actual__user--info .actual__user--item, body .user__setting--ctnr .setting__sub--ctnr form input[type=submit], body .user__setting--ctnr .setting__sub--ctnr .setting__role--ctnr .role__sub--ctnr label {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.top__angle--A, .top__angle--B, .top__angle--C {
  opacity: 0;
  height: 2vh;
  width: 5%;
  border-style: solid;
  border-color: #fff;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 0;
  border-left-width: 0;
}
.top_nav_angle--A, .top_nav_angle--B {
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 2vh;
  width: 25%;
  border-style: solid;
  border-color: #fff;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 0;
  border-left-width: 0;
}
.top_sign_angle--A, .top_sign_angle--B {
  opacity: 0;
  height: 2vh;
  width: 4%;
  border-style: solid;
  border-color: #000;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 0;
  border-left-width: 0;
}
.top__angle--A {
  margin-left: 10vw;
}
.top__angle--B {
  margin-left: 8vw;
}
.top__angle--C {
  margin-left: 6vw;
}
.top_nav_angle--A {
  margin-left: 3vw;
}
.top_nav_angle--B {
  margin-left: 1vw;
}
.top_sign_angle--A {
  margin-left: 50vw;
}
.top_sign_angle--B {
  margin-left: 49vw;
}

.bottom__angle--A, .bottom__angle--B, .bottom__angle--C {
  opacity: 0;
  height: 2vh;
  width: 5%;
  border-style: solid;
  border-color: #fff;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-width: 0;
  border-right-width: 0;
}
.bottom_nav_angle--A, .bottom_nav_angle--B {
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 2vh;
  width: 25%;
  border-style: solid;
  border-color: #fff;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-width: 0;
  border-right-width: 0;
}
.bottom_sign_angle--A, .bottom_sign_angle--B {
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0;
  height: 2vh;
  width: 4%;
  border-style: solid;
  border-color: #000;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-width: 0;
  border-right-width: 0;
}
.bottom__angle--A {
  margin-right: 10vw;
}
.bottom__angle--B {
  margin-right: 8vw;
}
.bottom__angle--C {
  margin-right: 6vw;
}
.bottom_nav_angle--A {
  margin-right: 3vw;
}
.bottom_nav_angle--B {
  margin-right: 1vw;
}
.bottom_sign_angle--A {
  margin-left: 46vw;
}
.bottom_sign_angle--B {
  margin-left: 47vw;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body header {
  height: auto;
  width: 100%;
}
body header .header__register--link {
  height: auto;
  max-width: 15%;
  margin: auto;
  text-align: center;
}
body header .header__register--link a {
  text-decoration: none;
  letter-spacing: 1px;
  color: #000;
}
body header .header__register--link a:hover {
  transition: 0.2s ease;
  letter-spacing: 5px;
}
body .idx__container--main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  width: 100%;
  overflow: hidden;
}
body .idx__container--main .idx__sub--ctnr {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}
body .idx__container--main .idx__sub--ctnr .idx__vid {
  margin-top: -100px;
  height: auto;
  width: auto;
}
body .idx__container--main .idx__container--A {
  top: 0;
  position: absolute;
  background-size: 35%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: 70vh;
  width: 100%;
}
body .idx__container--main .idx__container--A .sub__container--A {
  margin: 0;
  padding: 0;
  top: 0;
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
body .idx__container--main .idx__container--A .sub__container--A .papper1 {
  margin: 0;
  height: auto;
  width: 35vw;
  transform: rotate(90deg);
  filter: drop-shadow(0px 0px 5px #fff);
}
body .idx__container--main .idx__container--A .sub__container--A .idx__logo {
  height: auto;
  width: 25vw;
  animation: slide-in 1.8s ease-out forwards;
  mix-blend-mode: overlay;
}
body .idx__container--main .idx__container--A .sub__container--A .papper2 {
  margin: 0;
  height: auto;
  width: 35vw;
  filter: drop-shadow(0px 0px 5px #fff);
}
body .idx__container--main .idx__container--A .idx__title {
  opacity: 0;
  letter-spacing: 3px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0px 0px 5px #000;
  animation: slide-in 1.8s ease-out 1s forwards;
}
body .idx__container--main .idx__container--B {
  top: 70%;
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: 30vh;
  width: 100%;
  border-top: 1px solid #fff;
  background-color: #000;
}
body .idx__container--main .idx__container--B .idx__btn {
  margin: 0;
  padding: 0;
  height: 4vh;
  width: 8vw;
  background: none;
  border-radius: 15px;
  border-color: #fff;
  border-width: 1px;
}
body .idx__container--main .idx__container--B .idx__btn:hover {
  transition: 0.3s ease;
  border-radius: 0;
  filter: drop-shadow(0px 0px 2px #fff);
}
body .idx__container--main .idx__container--B .idx__btn .idx__btn--enter {
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
}
body .navbar {
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  width: 100%;
  background-size: 100%;
  background-color: #000;
  overflow: hidden;
}
body .navbar .papper3 {
  margin: 0;
  padding: 0;
  height: 40vh;
  width: auto;
  transform: rotate(45deg) translate(-400px, 350px);
  filter: drop-shadow(0px 0px 5px #fff);
}
body .navbar .nav__banner {
  top: 0;
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  height: auto;
  width: 100%;
}
body .navbar .nav__banner .nav__logo {
  height: auto;
  width: 18vw;
}
body .navbar .nav__banner .nav__title {
  letter-spacing: 3px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0px 0px 5px #000;
}
body .navbar .log__sub--ctnr {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  max-width: 25%;
}
body .navbar .log__sub--ctnr .log__title {
  margin: 8px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
}
body .navbar .log__sub--ctnr .log__title:hover {
  text-decoration: underline;
  cursor: pointer;
}
body .navbar .log__sub--ctnr .login__form {
  margin-top: 0;
  opacity: 0;
  padding: 5px;
  height: auto;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}
body .navbar .log__sub--ctnr .login__form.view_content {
  opacity: 1;
}
body .navbar .log__sub--ctnr .login__form hr {
  height: 1px;
  width: 5vw;
  border: none;
  background-color: #fff;
}
body .navbar .log__sub--ctnr .login__form input[type=text],
body .navbar .log__sub--ctnr .login__form input[type=password] {
  height: 3vh;
  width: auto;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  border-radius: 5px;
}
body .navbar .log__sub--ctnr .login__form input[type=submit] {
  height: 3vh;
  width: auto;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  border-radius: 5px;
  letter-spacing: 1px;
}
body .navbar .log__sub--ctnr .login__form input[type=submit]:hover {
  cursor: pointer;
  box-shadow: 0px 0px 8px rgb(252, 48, 48);
}
body .navbar .log__sub--ctnr .login__form .login__pin--container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  min-height: 10vh;
  width: 7vw;
}
body .navbar .log__sub--ctnr .login__form .login__pin--container .log__pin--btn {
  height: 2vh;
  width: 2vw;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  background-color: #000;
  border-radius: 5px;
}
body .navbar .user__option--ctnr {
  animation: slide-in 1.8s ease-out forwards;
  position: fixed;
  border-radius: 15px;
  top: 2%;
  left: 89%;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  min-height: 25vh;
  min-width: 10vw;
  background: rgba(0, 0, 0, 0.906) url("../images/redcadre2.png") no-repeat 50% 50%;
  background-size: cover;
}
body .navbar .user__option--ctnr .user__name--item {
  margin-top: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  text-decoration: underline;
  letter-spacing: 1px;
}
body .navbar .user__option--ctnr .user__name--item .user__small--light {
  margin-left: 5px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: rgb(41, 207, 16);
  filter: drop-shadow(0px 0px 5px rgb(41, 207, 16));
}
body .navbar .user__option--ctnr .option__sub--ctnr {
  margin-top: 0;
  padding: 0;
  height: auto;
  width: auto;
  text-align: left;
}
body .navbar .user__option--ctnr .option__sub--ctnr .user__option--item {
  margin: 0;
  list-style-type: none;
}
body .navbar .user__option--ctnr .option__sub--ctnr .user__option--item i {
  color: #fff;
}
body .navbar .user__option--ctnr .option__sub--ctnr .user__option--item a {
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
}
body .navbar .user__option--ctnr .option__sub--ctnr .user__option--item a:hover {
  text-decoration: underline;
}
body .navbar .nav__item--container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  min-height: 20vh;
  width: 100%;
}
body .navbar .nav__item--container .nav__item {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  height: auto;
  width: 80%;
  list-style-type: none;
}
body .navbar .nav__item--container .nav__item a {
  color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
}
body .main__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  width: 100%;
}
body .main__container hr {
  height: 1px;
  width: 50%;
  border: none;
  background-color: #000;
}
body .main__container .mySwiper {
  width: 40vw;
  height: 35vh;
  background: url("../images/redcadre2.png") no-repeat 50% 50%;
  background-size: 80%;
  filter: drop-shadow(0px 0px 5px #000);
}
body .main__container .mySwiper swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main__container .mySwiper swiper-slide swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .register__ctnr {
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  min-height: 35vh;
  width: 70%;
  padding: 0;
}
body .register__ctnr .pin__view--ctnr {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  top: 30%;
  padding: 5px;
  position: absolute;
  min-height: 25vh;
  max-width: 25vw;
  background-color: rgba(0, 0, 0, 0.837);
  border: 1px solid #fff;
  box-shadow: 0px 0px 5px #000;
  border-radius: 15px;
}
body .register__ctnr .pin__view--ctnr .timer__view {
  color: red;
}
body .register__ctnr .pin__view--ctnr .sign__code--pin {
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  width: 15ch;
}
body .register__ctnr .pin__view--ctnr .pin__notif {
  color: red;
  text-align: center;
}
body .register__ctnr .pin__view--ctnr .pin__close--btn {
  height: 3vh;
  width: 5vw;
  color: #000;
  border: none;
  background-color: #fff;
  border-radius: 10px;
}
body .register__ctnr .pin__view--ctnr .pin__close--btn:hover {
  cursor: pointer;
}
body .register__ctnr .sign_up_form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  min-height: 35vh;
  width: 70%;
  padding: 0;
  margin: 0;
}
body .register__ctnr .sign_up_form .register__sub--ctnr {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
body .register__ctnr .sign_up_form .register__sub--ctnr .country__ctnr {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  width: 100%;
}
body .register__ctnr .sign_up_form .register__sub--ctnr .role__ctnr {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  width: 100%;
}
body .register__ctnr .sign_up_form .register__sub--ctnr .role__ctnr .role__sub--ctnr {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  width: auto;
}
body .register__ctnr .sign_up_form .register__sub--ctnr .role__ctnr .role__sub--ctnr .logo__role {
  height: 35px;
  width: auto;
}
body .register__ctnr .sign_up_form input[type=text],
body .register__ctnr .sign_up_form input[type=password],
body .register__ctnr .sign_up_form input[type=email] {
  height: 4vh;
  width: auto;
  border: none;
  background: none;
  color: #000;
  border-radius: 5px;
}
body .register__ctnr .sign_up_form input[type=text]:focus,
body .register__ctnr .sign_up_form input[type=password]:focus,
body .register__ctnr .sign_up_form input[type=email]:focus {
  border-bottom: 1px solid #000;
}
body .register__ctnr .sign_up_form hr {
  height: 5px;
  width: 25vw;
  border: none;
  background-color: #000;
}
body .register__ctnr .sign_up_form input[type=submit] {
  letter-spacing: 2px;
  padding: 3px;
  height: 8vh;
  width: 14vw;
  background: url("../images/redcadre2.png") no-repeat 50% 50%;
  background-size: 47%;
  border: none;
  filter: drop-shadow(0px 0px 3px #000);
}
body .register__ctnr .sign_up_form input[type=submit]:hover {
  transition: 0.4s ease;
  letter-spacing: 4px;
  background-size: 60%;
  color: red;
  text-decoration: underline;
  cursor: pointer;
  border-radius: 15px;
}
body .user__setting--ctnr {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  min-height: 50vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body .user__setting--ctnr .setting_separate {
  height: 35vh;
  width: 2px;
  background-color: #000;
  border: none;
  margin: 15px;
}
body .user__setting--ctnr .setting__sub--ctnr {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: 45vh;
  width: 100%;
  border: 1px solid #fff;
  overflow: hidden;
  border-radius: 15px;
  padding: 5px;
  background-color: #000;
}
body .user__setting--ctnr .setting__sub--ctnr .setting__title {
  color: #fff;
  text-decoration: underline;
}
body .user__setting--ctnr .setting__sub--ctnr label {
  color: #fff;
  text-decoration: underline;
}
body .user__setting--ctnr .setting__sub--ctnr .btn_avatar {
  border: 1px solid #fff;
  background: none;
  color: #fff;
}
body .user__setting--ctnr .setting__sub--ctnr .btn_avatar:hover {
  transition: 0.2s ease-in-out;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #fff;
  cursor: pointer;
}
body .user__setting--ctnr .setting__sub--ctnr .user__setting--avatar-ctnr {
  margin: auto;
  height: 25vh;
  width: 18vw;
  border-radius: 15px;
  padding: 0;
  border: none;
  background: rgba(0, 0, 0, 0.792) url("../images/redcadre2.png") no-repeat 50% 50%;
  background-size: cover;
}
body .user__setting--ctnr .setting__sub--ctnr .user__setting--avatar-ctnr .avatar__choice--ctnr {
  margin: auto;
  height: 17vh;
  width: 15vw;
  padding: 10px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px 5px;
  grid-template-areas: "A B" "C D";
}
body .user__setting--ctnr .setting__sub--ctnr .user__setting--avatar-ctnr .avatar__choice--ctnr .A {
  grid-area: A;
  text-align: center;
}
body .user__setting--ctnr .setting__sub--ctnr .user__setting--avatar-ctnr .avatar__choice--ctnr .A img {
  height: 8vh;
  width: auto;
}
body .user__setting--ctnr .setting__sub--ctnr .user__setting--avatar-ctnr .avatar__choice--ctnr .A img:hover {
  filter: drop-shadow(0px 0px 5px #fff);
  cursor: pointer;
}
body .user__setting--ctnr .setting__sub--ctnr .user__setting--avatar-ctnr .avatar__choice--ctnr .B {
  grid-area: B;
  text-align: center;
}
body .user__setting--ctnr .setting__sub--ctnr .user__setting--avatar-ctnr .avatar__choice--ctnr .B img {
  height: 10vh;
  width: auto;
}
body .user__setting--ctnr .setting__sub--ctnr .user__setting--avatar-ctnr .avatar__choice--ctnr .B img:hover {
  filter: drop-shadow(0px 0px 5px #fff);
  cursor: pointer;
}
body .user__setting--ctnr .setting__sub--ctnr .user__setting--avatar-ctnr .avatar__choice--ctnr .C {
  grid-area: C;
  text-align: center;
}
body .user__setting--ctnr .setting__sub--ctnr .user__setting--avatar-ctnr .avatar__choice--ctnr .C img {
  height: 10vh;
  width: auto;
}
body .user__setting--ctnr .setting__sub--ctnr .user__setting--avatar-ctnr .avatar__choice--ctnr .C img:hover {
  filter: drop-shadow(0px 0px 5px #fff);
  cursor: pointer;
}
body .user__setting--ctnr .setting__sub--ctnr .user__setting--avatar-ctnr .avatar__choice--ctnr .D {
  grid-area: D;
  text-align: center;
}
body .user__setting--ctnr .setting__sub--ctnr .user__setting--avatar-ctnr .avatar__choice--ctnr .D img {
  height: 10vh;
  width: auto;
}
body .user__setting--ctnr .setting__sub--ctnr .user__setting--avatar-ctnr .avatar__choice--ctnr .D img:hover {
  filter: drop-shadow(0px 0px 5px #fff);
  cursor: pointer;
}
body .user__setting--ctnr .setting__sub--ctnr .user__setting--title {
  color: #fff;
  letter-spacing: 1px;
  text-decoration: underline;
}
body .user__setting--ctnr .setting__sub--ctnr .setting__avatar {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: 15vh;
  width: 15vw;
  border-radius: 10px;
}
body .user__setting--ctnr .setting__sub--ctnr .setting__avatar img {
  margin: auto;
  height: 80px;
  width: auto;
  opacity: 0.7;
}
body .user__setting--ctnr .setting__sub--ctnr .actual__user--data {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  width: 100%;
}
body .user__setting--ctnr .setting__sub--ctnr .actual__user--data .user__title--ctnr {
  height: auto;
  width: 100%;
  text-align: center;
}
body .user__setting--ctnr .setting__sub--ctnr .actual__user--data .user__title--ctnr h4,
body .user__setting--ctnr .setting__sub--ctnr .actual__user--data .user__title--ctnr h5 {
  color: #fff;
}
body .user__setting--ctnr .setting__sub--ctnr .actual__user--data .actual__user--info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;
  width: 100%;
}
body .user__setting--ctnr .setting__sub--ctnr .actual__user--data .actual__user--info .actual__user--item {
  height: auto;
  width: 100%;
  text-align: left;
  list-style-type: none;
  color: #fff;
}
body .user__setting--ctnr .setting__sub--ctnr form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: 45vh;
  width: 100%;
}
body .user__setting--ctnr .setting__sub--ctnr form input[type=submit] {
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
}
body .user__setting--ctnr .setting__sub--ctnr form input[type=submit]:hover {
  transition: 0.2s ease-in-out;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #fff;
  cursor: pointer;
}
body .user__setting--ctnr .setting__sub--ctnr .setting__role--ctnr {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  height: auto;
  width: 90%;
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
}
body .user__setting--ctnr .setting__sub--ctnr .setting__role--ctnr .role__sub--ctnr {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
  width: 100%;
}
body .user__setting--ctnr .setting__sub--ctnr .setting__role--ctnr .role__sub--ctnr label {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  color: #000;
}
body .user__setting--ctnr .setting__sub--ctnr .setting__role--ctnr .role__sub--ctnr label img {
  height: 25px;
  width: auto;
}
body footer {
  min-height: 15vh;
  width: 100%;
  bottom: 0;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  background-color: #000;
}
body footer .footer__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  width: 10vw;
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
